<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
        <!-- icons  -->
        <!-- <link rel="stylesheet" href="../static/css/all.min.css">    -->
        <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'>
        <!-- font  --> 
        <!-- css  -->
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/advance-search.css">    
        <title>Advance-search</title>
    </head>
    <body>

        <div class="header">
            <div class="logo">
                <img src="../static/images/search.png" alt="google">
            </div>
            <div class="nav">
                <a href="index.html"> Google search</a>
            </div>
        </div>

        
        <div class="title">
            <h2> Advanced Search </h2>
            <hr>
        </div>

        <div class="main">

            <div class="col">
                <div class="label">
                    <h3> Find pages with...</h3> 
                    <ul>
                        <li> all these words: </li>
                        <li> this exact word or phrase: </li>
                        <li> any of these words: </li>
                        <li> none of these words: </li>
                        <li> numbers ranging from: </li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="input">
                    <form action="https://google.com/search">
                        <div class="search">
                            <input type="search" name="as_q" >
                            <input type="search" name="as_epq" >
                            <input type="search" name="as_oq" >
                            <input type="search" name="as_eq" >
                            <div class="last-input">
                                <input type="search" name="as_nlo" >
                                to
                                <input type="search" name="as_nhi" >
                            </div>
                            
                            
                        </div>
                        <input type="submit" value="Advanced search">
                    </form>
                </div>
            </div>

            <div class="col">
                <div class="info">
                    <h4> To do this in the search box.</h4> 
                    <ul>
                        <li> Type the important words: <span> tri-colour rat terrier </span>   </li>
                        <li> Put exact words in quotes: <span>"rat terrier"</span> </li>
                        <li> Type <span> OR </span>between all the words you want: <span> miniature OR standard  </span> </li>
                        <li> Put a minus sign just before words that you don't want: <span>  -rodent, -"Jack Russell" </span></li>
                        <li> Put two full stops between the numbers and add a unit of measurement: <span> 10..35 kg, £300..£500, 2010..2011 </span> </li>
                    </ul>
                </div>

            </div>

        </div>

        
        
        
    </body>
</html>