<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
        <!-- icons  -->
        <!-- <link rel="stylesheet" href="../static/css/all.min.css">    -->
        <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'>
        <!-- font  --> 
        <!-- css  -->
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/google-images.css">

        <title>google-images</title>
    </head>
    <body>


            <div class="container">

                <div class="col">
                    <div class="header">
                        <ul>
                            <li> <a href="#gmail">Gmail</a></li>
                            <li> <i class="fa-solid fa-list"></i> </li>
                            <li> <a href="index.html">google-search</a></li>
                            <li> <a href="advance-search.html">advance search</a></li>
                            
                        </ul>
                    </div>

                </div>




                <div class="col">
                    <div class="main">
                        <div class="image">
                            <img src="../static/images/search.png">
                        </div>
                        <div class="search">
                            <form action="https://google.com/images">
                                   
                                <input type="text" name="q"><br>
                                <div class="submit">
                                    <input id='search' type="submit" value="Images Search">
                                </div>
                            </form>
                        </div>
                    </div>


                </div>




                <div class="col">
                    <div class="footer">
                        <div class="part1">
                            <ul> 
                                <li> <a href="#About">About</a></li>
                                <li> <a href="#Advertising">Advertising</a></li>
                                <li> <a href="#Business">Business</a></li>
                                <li> <a href="#How Search works">How Search works</a></li>       
                            </ul>
                        </div>
                        <div class="part2">
                            <ul> 
                                <li> <a href="#About">Privacy</a></li>
                                <li> <a href="#Advertising">Terms</a></li>
                                <li> <a href="#Business">Settings</a></li>   
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
    </body>
</html>